<div class="w-full flex justify-center">
    <div class="max-w-sm rounded overflow-hidden shadow-lg p-10">
        <form novalidate>
            <app-custom-input inputType="text" id="firstName" placeholder="Enter your first name" [field]="personalForm.firstName"></app-custom-input>
            @if ((personalForm.firstName().touched() || personalForm.firstName().dirty()) &&
            personalForm.firstName().invalid()) {
            @let error = personalForm.firstName().errors()[0].message;
            <p class="text-red-500 text-xs italic mb-4">{{ error }}</p>
            }

            <app-custom-input inputType="text" id="lastName" placeholder="Enter your last name" [field]="personalForm.lastName"></app-custom-input>
            @if ((personalForm.lastName().touched() || personalForm.lastName().dirty()) &&
            personalForm.lastName().invalid()) {
            @let error = personalForm.lastName().errors()[0].message;
            <p class="text-red-500 text-xs italic mb-4">{{ error }}</p>
            }

            <app-custom-input inputType="email" id="email" placeholder="Enter your email" [field]="personalForm.email"></app-custom-input>
            @if ((personalForm.email().touched() || personalForm.email().dirty()) &&
            personalForm.email().invalid()) {
            @for (error of personalForm.email().errors(); track error.kind) {
            <p class="text-red-500 text-xs italic mb-4">{{ error.message }}</p>
            }
            }

            <app-custom-input inputType="tel" id="phone" placeholder="Enter your phone number" [field]="personalForm.phone"></app-custom-input>
            @if ((personalForm.phone().touched() || personalForm.phone().dirty()) &&
            personalForm.phone().invalid()) {
            @for (error of personalForm.phone().errors(); track error.kind) {
            <p class="text-red-500 text-xs italic mb-4">{{ error.message }}</p>
            }
            }

            <app-custom-input inputType="checkbox" id="required-address" placeholder="Set address as required" [field]="personalForm.isAddressRequired"></app-custom-input>

            <app-custom-input inputType="textarea" id="address" placeholder="Enter your address" [field]="personalForm.address"></app-custom-input>
            @if ((personalForm.address().touched() || personalForm.address().dirty()) &&
            personalForm.address().invalid()) {
            @for (error of personalForm.address().errors(); track error.kind) {
            <p class="text-red-500 text-xs italic mb-4">{{ error.message }}</p>
            }
            }

            @for (item of personalForm.hobbies; track $index) {
            <div class="flex align-middle">
                <app-custom-input inputType="text" id="hobby" placeholder="Enter your hobby" [field]="item"></app-custom-input>
                @if($index == 0) {
                <button type="button" (click)="addHobby()"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2 mb-4">Add</button>
                } @else {
                <button type="button" (click)="removeHobby($index)"
                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2 mb-4">Remove</button>
                }
            </div>
            @if (item().invalid() && item().touched() || item().dirty()) {
            @for (error of item().errors(); track error.kind) {
            <p class="text-red-500 text-xs italic mb-4">{{ error.message }}</p>
            }
            }
            }
            <div class="flex justify-between">
                <button type="button" (click)="submit()"
                    class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Submit</button>
            </div>
        </form>
    </div>
</div>